<h1><%= @student.id %></h1>
<h1><%= @student.to_s %></h1>

<% if !@student.active %>
This student is currently inactive.
<% else %>
This student is currently active.
<% end %>

<br><br>

<%= link_to("Change Active Status", activate_student_path) %> <br><br>

<%= link_to("Student", students_path) %>
